APP_DATA_DATABASE_SOURCE="host=127.0.0.1 port=5432 user=postgres dbname=app password=CHANGE_ME sslmode=disable"
APP_DATA_REDIS_ADDR="127.0.0.1:6379"
APP_DATA_REDIS_PASSWORD="CHANGE_ME"
APP_AUTH_PRIVATE_KEY_PATH="certs/jwt.pem"
APP_LOG_LEVEL="info"
